body {
    background-color: #f8f9fa; /* Color de fondo general */
    font-family: Arial, sans-serif; /* Utilizamos una fuente genérica */
}

h1{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-gap: 10px;
    width: 90%;
    background-color: chartreuse;
    margin: 0 auto; /* Esto centra el contenedor horizontalmente */

}

.productoCard {
    width: 18%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: inline-block; /* Para que las tarjetas se muestren en línea */
    background-color: aquamarine;
    /* transform: scale(1.05); */

}


.productoCard img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;

}
p{
    font-size: 80%;
    padding: 2px; 
}
